@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}
;
body {
  background-color: #d1c09d; /* your warm sand color */
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #521D20;
  --color-secondary: teal;
}